.container {
  background: var(--color-white);
  border: 1px solid black;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
  padding: 1rem;
}

@media(min-width: 992px) {
  .container {
    margin: 0 auto;
    max-width: 960px;  }
}
