.navigationWrapper {
  text-align: right;
  grid-column: span 2;

  .navigation {
    text-align: left;
  
    &.open {  
      ul {
        background: navy;
        opacity: 1;
        transform: rotate(360deg);
        max-height: 1000px;
      }
    }
  
    ul {
      background: blue;
      list-style-type: none;
      overflow: hidden;
      padding: 0;
      opacity: 0;
      max-height: 0;
      transition: all .4s ease-in-out;
      transform: rotate(270deg);
      width: auto;
    }
  }
}

@media(min-width: 992px) {
  .navigationWrapper {
    grid-column: inherit;

    .navigation {
      ul {
        display: grid;
        grid-template-columns: auto auto auto;
        opacity: 1;
        max-height: 1000px;
        transform: rotate(360deg);
      }
    }
  }
}