.navigationWrapper {
  text-align: right;
  grid-column: span 2;

  .navigation {
    text-align: left;
    padding-top: 1rem;
    max-height: 0;
    transition: all .4s ease-in-out;
  
    &.open {
      max-height: 1000px;

      ul {
        opacity: 1;
        max-height: 1000px;
      }
    }
  
    ul {
      background: rgba(0,0,0,.7);
      list-style-type: none;
      overflow: hidden;
      padding: 1rem;
      border-top: 2px solid rgba(0,0,0,.8);
      border-bottom: 2px solid rgba(0,0,0,.8);
      opacity: 0;
      max-height: 0;
      transition: all .4s ease-in-out;
      width: auto;
      text-align: right;

      li { 
        a {
          color: var(--color-white);
          display: block;
          padding: 1rem 2rem;
          font-weight: bold;
        }
      }
    }
  }
}

@media(min-width: 992px) {
  .navigationWrapper {
    grid-column: inherit;

    .navigation {
      max-height: 1000px;

      ul {
        background: transparent;
        border: none;
        display: grid;
        grid-template-columns: auto auto auto;
        opacity: 1;
        max-height: 1000px;

        li {
          a {
            color: var(--color-black);
          }
        }
      }
    }
  }
}